@media (max-width: 1440px)
  body
    font-size: 1rem
  .section-col 
    &__image
      width: 44%
    &__content
      width: 50%
  .content
    max-width: 1200px

@media (max-width: 1280px)
  .main-title
    font-size: 1.6rem