footer.content.footer
  .footer__content 
    .subscribe 
      h3.subscribe__title Let&rsquo;s go&nbsp;on&nbsp;vacation. Make your day
      .email
        input(type="text" placeholder="Email address").email__form
        button(type="submit").button.email__button
          +svg-icon('arrow_right', 'button__icon')
    .menu 
      each item in footer_items
        .menu__col
          h4.menu__title= item.title 
          ul.menu__list 
            each link in item.links
              li.menu__item 
                a(href="#").menu__link= link 
  .footer__bottom 
    .footer__terms 
      a(href="#").footer__link Terms &amp;&nbsp;Conditions
      a(href="#").footer__link Privacy Policy
    ul.social-horisontal 
      li.social-horisontal__item 
        a(href="#").social-horisontal__link
          +svg-icon('facebook', 'social-horisontal__icon')
      li.social-horisontal__item 
        a(href="#").social-horisontal__link
          +svg-icon('twitter', 'social-horisontal__icon')
      li.social-horisontal__item 
        a(href="#").social-horisontal__link
          +svg-icon('instagram', 'social-horisontal__icon')
