- 
  var slides = [
    "@img/gallery.jpg", 
    "@img/gallery.jpg", 
    "@img/gallery.jpg", 
    "@img/gallery.jpg", 
    "@img/gallery.jpg",
  ]
-
  var footer_items = [
    {
      title: 'Services',
      links: [
      'Email Marketing',
      'Campaigns',
      'Branding',
      'Offline',
      ],
    },
    {
      title: 'About',
      links: [
      'Our Story',
      'Benefits',
      'Team',
      'Careers',
      ],
    },
    {
      title: 'Help',
      links: [
      'FAQs',
      'Contact Us',
      ],
    },
  ]
